BraveSoftware/
Code - OSS
code-oss
Slack/
Thunar/
alacritty/
arcolinux-welcome-app/
autostart/
chromium/
dconf/
discord/
Electron/
freerdp/
gconf/
google-chrome/
gtk-3.0/
i3-scrot.conf
kicad/
mimeapps.list
nautilus/
neofetch/
paru/
pavucontrol.ini
pulse/
remmina/
spotify/
teamviewer/
user-dirs.dirs
user-dirs.locale
variety/
volumeicon/
xfce4/
htop/
menus/
tuxclocker.conf
i3/config.save
polybar/config.
vscode-sqltools/
Code/
procps/
yay/
ultravnc-viewer/